@*Copyright (c) 2017 Jonathan Jensen, David Stamper
    This work is available under the "MIT license".
    Please see the file COPYING in this distribution
    for license terms.*@
@model IEnumerable<PostItList.Models.ToDoItem>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>