@*Copyright (c) 2017 Jonathan Jensen, David Stamper
    This work is available under the "MIT license".
    Please see the file LICENSE in the PostItList Github
    for license terms.*@
@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Contact Us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    In order to contact the creators of the project, please email the people below or visit the github for this project.
</p>

<h3>Emails</h3>
<pre>
    Jonathan Jensen : jojensen@pdx.edu
    David Stamper : dstamper@pdx.edu
</pre>

<h3>Github</h3>
<p>
   <a href="https:/github.com/dstamper/Post-It-List "> Post-it-List Github Page</a>
</p>

