@{
    ViewData["Title"] = "Home Page";
    Layout = @"~/Views/Home/_IndexLayout.cshtml";
}

<style>
    html, body {
        background: #545454;
    }
    .primary-font {
        font-family: 'Roboto', sans-serif;
    }
    .secondary-font {
        font-family: 'Open Sans', sans-serif;
    }
    .splash-container {
        padding-top: 6rem;
    }
    .splash-container > section {
        height: 40rem;
        background: black;
    }
    .splash-container > section h1 {
        font-family: 'Roboto', sans-serif;
    }
    .splash-container > section p {
        font-family: 'Open Sans', sans-serif;
    }
    .splash-container > section.first {
        background: #545454;
        color: snow;
        text-align: center;
    }
    .splash-container > section.first .text-box {
        position: relative;
        top: 65%;
        right: 20%;
        transform: translateY(-50%);
    }
    .splash-container > section.first .btn-sign-in {
        position: absolute;
        top: 13%;
        right: 4rem;
    }
    .splash-container > section.first .glyphicon {
        color: snow;
        font-size: 14rem;
        position: relative;
        left: 20rem;
    }
    .splash-container > section.second {
        background: #69747C;
        color: snow;
    }
    .splash-container > section.third {
        background: #6BAA75;
    }
    .splash-container > section.fourth {
        background: #84DD63;
    }
    .splash-container > section.fifth {
        background: #CBFF4D;
    }

</style>

<div class="splash-container">
    <section class="first">
        <div class="text-box">
            <h1>Post It List</h1>
            <p>Your one stop shop for keeping track of all of your lists of things to do.</p>
        </div>
        <button class="btn btn-primary btn-sign-in">create your first list</button>
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </section>
    <section class="second"></section>
    <section class="third"></section>
    <section class="fourth"></section>
    <section class="fifth"></section>
</div>
